/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Set the background color to white */
}

/* Header styles */
.header {
    position: fixed; /* Set the header to a fixed position */
    top: 0; /* Position the header at the top of the page */
    width: 100%; /* Set the width to 100% of the viewport */
    z-index: 1000; /* Ensure the header is above other content */
    background-color: #333; /* Dark grey background for the header */
    color: #fff; /* Set text color to white */
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
}

.header h2 {
    margin: 0; /* Remove default margin for h2 */
}

/* Navigation menu styles */
.header nav ul {
    display: flex;
}

.header nav ul li {
    margin-right: 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: #D2B48C; /* Change menu text color to light tan */
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

.header nav ul li a:hover {
    color: #ff6600; /* Orange color on hover */
}

.main-content {
    margin-top: 50px; /* Add some margin to separate the header and content */
    padding: 20px;
}

/* Page section styles */
h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
